.rustdesk-icon {
  background-image: url("assets/icon.png");
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.rustdesk-icon.session-out {
  background-image: url("assets/icon-session-out.png");
}

.rustdesk-icon.session-in {
  background-image: url("assets/icon-session-in.png");
}

.rustdesk-icon.service-offline {
  background-image: url("assets/icon-service-offline.png");
}

.menu-button {
  width: 16px;
  height: 16px;
}
